@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    overflow: hidden;
    background:#000000;
    min-height: 100vh;

}

#header
{


    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

#header .logo 
{
    color:#fff;
    font-weight: 700;
    font-size :2em;
    text-decoration: none;

}
#header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;

}
#header ul li
{
    list-style-type: none;
    margin-left: 20px;

}
#header ul li a
{
    text-decoration: none;
    padding :6px 15px;
    color:#fff;
    border-radius: 20px;

}
#header ul li a:hover,
#header ul li a.active
{
    background-image: linear-gradient(to right, #f5ce62, #e43603, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

}   
